@charset "utf-8";

body {
  color: #009966;
  background-color: #dbf0a6;
  font-family: sans-serif;
  padding: 0px 32px;
}

h1 {
  color: #009966;
  font-weight: normal;
  font-size: 140%;
}

h2 {
  color: #009933;
  border: 2px solid #ff99cc;
  padding: 10px 15px;
  margin: 0px;
  font-weight: normal;
  font-size: 125%;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

nav {
  flex: 0 0 200px;
  color: #ffffff;
  background-color: #00bc80;
  margin-right: 10px;
  line-height: 1.8em;
}

article {
  flex: 1 1 auto;
  padding: 20px;
  color: #666666;
  background-color: #ffffff;
}

a,
a:link,
a:visited {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}

p {
  line-height: 1.5em;
}

